.wrapper {
  display: flex;
  column-gap: 30px;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
}

.selectWrapper {
  margin-right: 10px;
}

.loadingStatus {
  font-size: 32px;
}
